body{

  background-color: black;
  color: white;
  font-weight: bold; 
}

.card{

  height: 400px;
  width: 300px;
  padding: 0.5rem;
  text-align: justify;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
}

.card img{

  height: 150px;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;

}

