body{

  background-color: black;
  color: white;
  font-weight: bold; 
}

.card{

  height: 390px;
  width: 300px;
  padding: 0.5rem;
  text-align: justify;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
}

.card img{

  height: 150px;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;

}

/* External CSS */

/* .card .button {

  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(23, 10, 169);
} */

.card .button:hover{

  border: 2px solid yellow;
  background-color: rgb(252, 0, 42);
}

