*{
    margin: 0;
    padding: 0;
}
.loggedIn{

    height: 100vh;
    width: 100%;
    font-size: 3rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.notLoggedIn{

    height: 100vh;
    width: 100%;
    font-size: 3rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: red;
}